<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue JS Projekt 2</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app" v-cloak>
        {{ message }}
        <form>
            <label for="email">Email:</label>
            <!-- Direktivet v-bind är one way data bound -->
            <input type="email" :value="email"><br>
            <!-- Direktivet v-model är two way bound -->
            <input type="text" v-model="name">
            <!-- Event modifiers på händelser är praktiska -->
            <button type="submit" @click.prevent="processForm">Submit</button>
        </form>

        <!-- Händelsedirektivet heter v-on -->
        <br><button v-on:click="state += 1" >Next</button>
        <!-- Shorthand för händelsedirektivet är @ -->
        <br><button @click="state -= 1" >Back</button>
        <!-- v-show är ett direktiv för display:none toggle -->
        <p v-show="isVisible">{{ name }}</p>
        <!-- Conditional v-if är praktisk för att växla mellan grafik -->
        <input type="text" v-if="state == 1" :value="email">
        <!-- State management med v-else-if och v-else -->
        <p v-else-if="state == 2">Är du säker att du vill skicka formuläret</p>
        <p v-else>Tack för att du skickat formuläret</p>
    </div>

<script>
  const { createApp } = Vue

  createApp({
    data: function() {
      return {
        message: 'Hello Vue!',
        email: "dennis@bistrom.fi",
        name: "Dennis B",
        state: 1,
        isVisible: true
      }
    },
    methods: {
      processForm: function(event) {
        //event.preventDefault(); // Vue devssarna förstod behovet av shorthand
        alert("Submitted! Tack för visat intresse " + this.email );
        this.isVisible = false; // Märk this och syntaxen med likamed =
      }
    }
  }).mount('#app')
</script>
</body>
</html>